@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

h1 {
  text-align: center;
  font-style: italic;
  font-weight: lighter;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background-color: #ffdab9;
}

.container {
  background-color: #404040;
  width: 400px;
  height: 500px;
  margin: 100px auto;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid black;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
}

button {
  text-align: center;
  font-size: 2rem;
  background-color: #787878;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  border: 2px solid rgb(59, 59, 59);
}

button:hover {
  background-color: #636363;
}

button:active {
  background-color: #555555;
}

#result {
  grid-column: 1 / 5;
  background-color: #bdcebe;
  text-align: right;
  padding-right: 40px;
  cursor: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 20px;
  border: 5px solid rgb(44, 44, 44);
}

.zero {
  grid-column: 1 / span 2;
}

.orange {
  background-color: coral;
}

.orange:hover {
  background-color: rgb(226, 112, 71);
}

.orange:active {
  background-color: rgb(197, 99, 63);
}

.blue {
  background: #b0c4de;
}

.blue:hover {
  background: #99abc2;
}

.blue:active {
  background: #8493a7;
}

.copyright {
  background-color: #2f4f4f;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
