@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

:root {
  --calculator-dimensions: 500px;
  --button-dimensions: calc(var(--calculator-dimensions) / 4.5);
}

body {
  background-color: midnightblue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
  font-size: 32px;
}

.calculator {
  width: var(--calculator-dimensions);
  height: calc(1.2 * var(--calculator-dimensions));
  background-color: rgb(54, 54, 54);
  border-radius: 5px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
}

.result {
  width: 85%;
  height: 60px;
  letter-spacing: 10px;
  background-color: rgb(166, 166, 182);
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 5px;
  /* margin: 10px 0; */
  margin-top: 5px;
  padding-right: 20px;
  border: 5px solid black;
}

.clear {
  background-color: crimson;
  border: 3px solid black;
  height: 7%;
  font-size: 0.8em;
  flex-basis: 90%;
}

.clear:hover {
  background-color: rgb(190, 17, 52);
}

.clear:active {
  background-color: rgb(148, 13, 40);
}

button {
  width: var(--button-dimensions);
  height: var(--button-dimensions);
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  background-color: lavender;
}

button:hover {
  background-color: rgb(187, 187, 204);
}

button:active {
  background-color: rgb(153, 153, 168);
}

.number {
  background-color: cadetblue;
}

.number:hover {
  background-color: rgb(82, 137, 139);
}
.number:active {
  background-color: rgb(70, 116, 117);
}

.ops {
  background-color: tomato;
}

.ops:hover {
  background-color: rgb(230, 87, 62);
}

.ops:active {
  background-color: rgb(187, 71, 50);
}
